@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------common style----- */
:root{
    --h1: 4vw;
    --red-p:1rem;
    --common-p:1rem;
}
body {
  font-family: "Poppins", sans-serif;
}
.bg-green{
    color:rgb(33, 181, 115) ;
}
.btn-primary {
  width: 153px;
  height: 43px;
  border: none;
  border-radius: 33px;
background: rgb(33, 181, 115);
margin: 10px 0;
}
.common-p{
    color: rgb(108, 107, 107);
    font-size: var(--common-p);
    font-weight: 400;
    max-width: 480px;
    line-height: 2rem;
    margin: 10px 0;
}

/* ----------header-------- */
header {
  background: rgb(240, 255, 240);
  min-height: 576px;
}
.border {
  border: 1px solid rgb(245, 9, 9);
}
/* ----navbar----- */
.navbar {
  margin-left: 7%;
  margin-right: 4%;
}
.navbar-brand img {
  width: 200px;
}
.nav-link {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 50px;
}

.nav-link-sign-in {
  width: 104px;
  /* height: 43px; */
  padding: 8px;
  border-radius: 33px;
  background: rgb(33, 181, 115);
  color: white;
  text-align: center;
}

/* -----hero section--------- */
.hero {
    margin-top: 40px;
  margin-left: 8%;
  margin-right: 4%;
}
.hero-p {
  color: rgb(253, 81, 26);
  font-size: var(--red-p);
  font-weight: 400;
}
.hero-h1 {
  font-size: var(--h1);
  font-weight: 700;
}
.hero-info{
    min-height: 300px;
    
}

.hero-img{
    
    max-height: 400px;
    max-width: 650px;
}
.hero-img img{
    width: 100%;
    height: 100%;
}
/* ---------topic section------ */

.topic{
    /* margin-left: 7%;
    margin-right: 7%; */
    border: 1px solid red;
    max-width: 85vw;
    
}
.card{
    /* min-height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: 1px solid rgb(19, 5, 145);
    padding: 30px;
    
}
.img-top{
    max-width: 80px;
    border: 1px solid red;
}


/* --------responsive--------- */

@media screen and (min-width:1400px) {
    /* ---------hero------ */
    
}